.image-carousel-container {
    max-width: 100%;
    width: 100%; 
  }
  
  .carousel {
    max-width: 100%;
    height: 9.125em;
    width: 100%; /* Ensure the images take up the full width of the carousel */
    object-fit: contain; 
  }