@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', 'Barlow', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #2E3C46 0%, #425563 52.84%);
}

#root {
  width: 100%;
  min-height: 100vh;
  background: url('../images/fondo-1.svg') no-repeat center bottom;
  background-size: contain;
}

.container-news-sgg {
  display: flex;
  justify-content: center;
}

.content-news-sgg {
  display: flex;
  max-width: auto; 
  margin-top: 1em;
}

.main {
  flex-grow: 1; 
  flex-basis: auto; 
  width: 48em;
}

.suggestions {
  flex-shrink: 0; 
  flex-basis: auto; 
  width: auto;
}
