.group-65 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 958px; /* Use max-width instead of width */
    height: 11.125em;
    margin: 0 auto;
    overflow: hidden; /* Hide any content that overflows the section */
}

.expand-horizons {
    color: var(--orange-100, #FFEFEB);
    font-family: Raleway;
    font-size: 34.639px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.496px; 
    height: 9.125em;
}

.banner {
    width: 328px;
    height: 146px;
    flex-shrink: 0;
    background: url('../../assets/images/world.svg');
}